[2019-07-04 05:34] iam-mhaseeb opened #1 "Education extraction & Experience extraction is not working properly"
To make education extraction more robust, let's introduce unigram and bigram extraction of words and match with both upper and lower case.

To make the experience more promising let's pull everything from the experience section and slice paragraphs as experiences.

[2019-07-04 09:14] OmkarPathak commented on #1
@iam-mhaseeb nice idea. Let's have it get going

[2019-07-04 12:41] iam-mhaseeb commented on #1
Can you get out a basic pull request for it? I can work on it to refine more.

[2019-07-10 05:16] iam-mhaseeb commented on #1
@OmkarPathak  Any update on it?

[2019-07-11 14:45] raghuveer opened #2 "getting command not found error for pyresparser"
Dear Omkar

I did install Pyresparser on my ubuntu server using the following command,

pip install pyresparser

While the script is correctly installed with all dependencies, I am getting Command not found error, when trying to parse a resume, by typing the command through Putty SSH Client.

aj@ubuntu:~/webapps/app-aj/files$ pyresparser -f resume.pdf
pyresparser: command not found

I would reques

[2019-07-12 05:44] OmkarPathak commented on #2
From logs I can see that you are using `aj` as your user. Make sure you have installed the package for the same user

[2019-07-12 07:11] raghuveer commented on #2
Thanks Omkar for the quick response.

I did try today after reading your message and Pyresparser started getting executed.

Since I got the following error,

`aj@ubuntu:~$ pyresparser -f resume.pdf
Traceback (most recent call last):
  File "/home/aj/.local/bin/pyresparser", line 7, in <module>
    from pyresparser.command_line import main
  File "/home/aj/.local/lib/python2.7/site-packages/pyrespa

[2019-07-12 07:14] raghuveer commented on #2
Thanks Omkar for the quick response.

I did try today after reading your message and Pyresparser started getting executed.

Since I got the following error,

`aj@ubuntu:~$ pyresparser -f resume.pdf
Traceback (most recent call last):
  File "/home/aj/.local/bin/pyresparser", line 7, in <module>
    from pyresparser.command_line import main
  File "/home/aj/.local/lib/python2.7/site-packages/pyrespa

[2019-07-12 07:20] raghuveer commented on #2
Thanks for the quick response

I am able to use Pyresparser today, and installed Spacy, NLTK, as per your github page.

Then imported Nltk and corresponding stop words, as instructed, in the error message when running Pyresparser.

The following is the error message I receive, when trying to extract data from a PDF formatted Resume.

`aj@ubuntu:~/webapps/app-apidev/uploaded-documents$ pyresparser

[2019-07-12 07:21] raghuveer commented on #2
Thanks for the quick response

I am able to use Pyresparser today, and installed Spacy, NLTK, as per your github page.

Then imported Nltk and corresponding stop words, as instructed, in the error message when running Pyresparser.

The following is the error message I receive, when trying to extract data from a PDF formatted Resume.

Traceback (most recent call last):
  File "/home/aj/.local/bin/p

[2019-07-12 08:12] OmkarPathak commented on #2
This seems to be a Python version issue. What Python version are you using? I recommend using Python 3.5+

[2019-07-12 13:01] raghuveer commented on #2
As suggested by you, I did install Python 3.7.3, but when I run the pyresparser, I still see it using Python 2.7, in the error message, do I need to reinstall Pyresparser or anything else?

`aj@ubuntu:~/webapps/app-apidev/uploaded-documents$ pyresparser -f ff76a401dc811d5119adec1c14e832fe363cd8d6658f50f786fa91d782e55b97.pdf
Traceback (most recent call last):
  File "/home/aj/.local/bin/pyresparser

[2019-07-12 15:18] OmkarPathak commented on #2
This is because previously you installed using pip. You now have to install using pip3. So you can execute `pip3 install pyresparser`

[2019-07-12 18:15] raghuveer commented on #2
I did install python pip3, and then tried installing pyresparser using the above mentioned command

pip3 install pyresparser

Got Errors with spacy and other dependencies and I got error when running the PDF Resume Extraction, when I see Python 2.7 in error

=========

aj@ubuntu:~/webapps/app-apidev/uploaded-documents$ pyresparser -f ff76a401dc811d5119adec1c14e832fe363cd8d6658f50f786fa91d782e55b97

[2019-07-13 01:23] OmkarPathak commented on #2
No for some reason you are still accessing Python 2.7
Try this approach. In `.bashrc` file (which is located in your home directory) add the following line at the end: `export python=python3`. Then save the file and open a new terminal and try the `pyresparser` command

[2019-07-13 06:17] raghuveer commented on #2
I did add the code, as you suggested above

same error continues

[2019-07-13 10:09] raghuveer commented on #2
Alternatively, Do I setup on a different server (with Ubuntu 18.04), upgrade Python from v2.7 to 3.7.3, install PIP3 and then try installing Pyresparser?

please share your inputs

thank you

[2019-07-13 15:22] OmkarPathak commented on #2
You can try this

[2019-07-13 15:27] raghuveer commented on #2
While I have had issues in the other setup, my server admin helped me config python 3

I am able to start Extracting Resume Data.

I will test this further and will share updates

Thank you

With Best Regards
Raghu Veer

[2019-07-14 10:59] #1 closed

[2019-07-14 13:29] raghuveer commented on #2
While I have had issues in the other setup, my server admin helped me config python 3

I am able to start Extracting Resume Data.

I see Email ID, Mobile Number, Name, Education Qualifications list, and Skills list.

I will test this further and will share updates

Thank you

With Best Regards
Raghu Veer

[2019-07-14 14:20] OmkarPathak commented on #2
Perfect! Closing the issue for now.

[2019-07-14 14:20] #2 closed

[2019-07-18 13:21] raghuveer opened #3 "Error with loading en_core_web_sm with Spacy"
Dear Mr.Omkar

I am installing Pyresparser, on a different server, with Python 3.6.3

I did the installation using the following commands,

============

aj@ubuntu:~$ pip3 install pyresparser

aj@ubuntu:~$ pip install -U spacy

aj@ubuntu:~$ python -m spacy download en_core_web_sm

aj@ubuntu:~$ pip install --user -U nltk

aj@ubuntu:~$ python -m nltk.downloader words

aj@ubuntu:~$ python

==========

[2019-07-21 05:29] OmkarPathak commented on #3
You have executed this `pip3 install pyresparser` using pip3 and all other packages were downloaded sing `pip`. This is not a right way to do it. Either use `pip` throughout or use `pip3`. I would recommend using `pip3` everytime

[2019-07-22 01:58] raghuveer commented on #3
I got error when I tried installing Spacy using pip3

and am able to installspacy, nltk using PIp, along with dependencies and data import, so I tried that way.

I will try spacy with pip3 once again,

thank you

[2019-07-22 06:43] OmkarPathak commented on #3
Ok do let me know the updates

[2019-07-24 05:05] Ajinkz opened #4 "how can I import pyresparser in python code ?"

[2019-07-24 15:39] OmkarPathak commented on #4
After installation you can import it using `from pyresparser import ResumeParser`

[2019-07-24 15:46] OmkarPathak commented on #4
I have updated README file too: https://github.com/OmkarPathak/pyresparser

[2019-08-01 03:26] #4 closed

[2019-08-01 03:26] OmkarPathak commented on #3
@raghuveer any update?

[2019-08-21 10:58] annapurnarelan20 opened #5 "no parsing done for tables in the resume pdf/doc"
Hi,
Have been trying to run the parser with the resumes containing data in tabular format like skills or experience in the resume is listed in a table , that information is skipped and is not parsed by the parser.

can you help in correcting the issue.

[2019-08-27 09:53] OmkarPathak commented on #5
Textract and pdfminer find it hard to read tables. You can try something like: https://blog.chezo.uno/tabula-py-extract-table-from-pdf-into-python-dataframe-6c7acfa5f302

[2019-08-27 09:53] OmkarPathak commented on #3
Closing because of inactivity

[2019-08-27 09:53] #3 closed

[2019-08-30 09:13] robertofd1995 opened #8 "Could you add support for more languages?"
Right now only English is supported, spacy has support also for Spanish, Portugues, Italian and other languages.

It will be possible?

[2019-09-05 15:20] OmkarPathak commented on #8
@robertofd1995 thanks. Sure I'll add support for more language in future releases :smile:

[2019-09-17 15:25] nickmedwards opened #9 "Parser doesn't get any skills"
I've been trying to use the parser to fetch skill and experience data from resumes and the parser doesn't get any skills? I've attached the resumes I've been testing with
[Brendan_Herger_Resume.pdf](https://github.com/OmkarPathak/pyresparser/files/3622146/Brendan_Herger_Resume.pdf)
[Game-Programmer-Resume-A.pdf](https://github.com/OmkarPathak/pyresparser/files/3622147/Game-Programmer-Resume-A.pdf)

[2019-09-17 16:52] OmkarPathak commented on #9
@nickmedwards you have to edit the https://github.com/OmkarPathak/pyresparser/blob/master/pyresparser/skills.csv file in order to parse skills matching your requirements

[2019-10-01 17:15] fraywing commented on #9
I'm curious about this, too. @OmkarPathak do you need to add a header column like you have in the example csv? like `technical skills`? Or can it just be a single column of skills per row?

[2019-10-02 15:40] OmkarPathak commented on #9
@fraywing thanks for your interest. I'm currently working on this feature. Next release would be released with this feature.

[2019-10-02 15:42] OmkarPathak opened #10 "Add documentation in readthedocs"
Add the documentation about implementation and features of this library

[2019-10-02 16:21] LittleSodium commented on #10
Hey Omkar! I would like to work on this issue. Could you guide me with the specifics?

[2019-10-02 16:41] OmkarPathak commented on #10
@LittleSodium thanks for your interest. You can refer this documentation: https://pygorithm.readthedocs.io/en/latest/

Basically we need to document our classes and functions and their usage so that users will be able to work with the library more easily.

[2019-10-03 07:37] RodolfoFerro commented on #10
I can work on this.

I will just wait for @LittleSodium to confirm if grabbing this issue. If not, I can take it. ✌️

[2019-10-03 08:30] LittleSodium commented on #10
@OmkarPathak got it! Is it fine if I email you for further questions and queries?
@RodolfoFerro I'll be working on this one :)

[2019-10-03 08:46] OmkarPathak commented on #10
@LittleSodium sure you can email me anytime 😄

[2019-10-03 08:46] OmkarPathak commented on #10
You can simultaneously work on the same

[2019-10-03 08:47] RodolfoFerro commented on #10
No problem, good luck @LittleSodium! ✨
Btw, if you're planning to use [MkDocs](https://www.mkdocs.org), I can help. 👍

Thanks @OmkarPathak !

[2019-10-03 09:10] LittleSodium commented on #10
@RodolfoFerro I'm super new to open source and this might just be my first ever actual contribution so any help would be appreciated!

[2019-10-03 09:29] RodolfoFerro commented on #10
@LittleSodium
No problem, first fork this repo into your GitHub user.
Then I would install the requirements and try to test everything.

Now the contribution part comes. I would:
- [Install MkDocs](https://www.mkdocs.org/#installation)
- Create [a new docs project](https://www.mkdocs.org/#getting-started)
- Build documentation
- Create a [readthedocs](https://readthedocs.org) account
- Build docum

[2019-10-03 10:58] OmkarPathak commented on #10
@RodolfoFerro we can also host Mkdocs on GitHub pages. We can also look into this option

[2019-10-03 14:09] OmkarPathak commented on #9
@fraywing @nickmedwards you can refer latest release [v1.0.5](https://github.com/OmkarPathak/pyresparser/tree/v1.0.5) for this fix :smile:

[2019-10-03 14:09] #9 closed

[2019-10-03 14:10] OmkarPathak commented on #5
@annapurnarelan20 can you provide a sample resume so that I can use it for testing purposes

[2019-10-14 07:59] annapurnarelan20 commented on #5
Hi,
PFA a pdf resume with tabular format data.
Sorry for late reply!

Thanks!
Annapurna Relan

On Thu, Oct 3, 2019 at 7:40 PM Omkar Pathak <notifications@github.com>
wrote:

[2019-10-20 17:26] JastySaran commented on #3
Worked for me :

If using pycharm IDE copy pycharm project interrupter path space —m spacy download your package

[2019-10-25 06:46] aafaq-hassan-confiz opened #11 "Improve name parsing and add address parsing"
Excellent work!

Can you please try to improve name parsing?

Can you please add address parsing too?

Thanks.

[2019-10-25 14:32] OmkarPathak commented on #11
@aafaq-hassan-confiz yes. I'm constantly trying to improve the parsing. Address parsing will be available in next release. Thanks for the feedback :smile:

[2019-10-27 15:50] raghuveer opened #12 "json decode issue when done in php command line applications"
recently, when attempting to parse the response, I always used to get NULL, when checked,

we have text like:

"Extracting Data from "

then, after removing all extra whitespace, the json is still not being decoded in php.

a) when checked, I see some commas, missing in some parts of the json object (Example: Designation)

b) I did notice None, without quotes for some key value pairs (it happened

[2019-10-29 14:57] OmkarPathak commented on #12
@raghuveer thanks for all the above inputs. I will surely work on these. I typically made this library for Python use so I just returned a dictionary instead of json, but as per your use case, I think returning JSON response would be more appropriate

[2019-10-30 00:42] raghuveer commented on #12
Thanks for the info :)

Awaiting to see the update soon

[2019-11-04 10:25] aafaq-hassan-confiz commented on #11
It parses phone number, but many times phone number was not parsed, please add improving phone parsing in your backlog.

When will you publish latest changes to https://pypi.org/project/pyresparser?

[2019-11-07 10:03] OmkarPathak commented on #11
@aafaq-hassan-confiz soon 😄

[2019-11-19 05:22] AliKazim7 commented on #11
Hi Omkar excellent work buddy really love this script.
Currently i am working on feature where we can extract complete data from file and display it our web. Till now im able to extract data to my requirement but face error on Extracting name sometime it will give wrong name or something else. Plus is there a way where i can extract only companies name from CV? thanks again for such great script

[2019-11-29 03:12] OmkarPathak opened #13 "Improve codecov"
Currently the code coverage is around 70%. Need help to write tests so as to obtain a code coverage above 90%

[2019-12-11 10:07] aafaq-hassan-confiz commented on #11
Please publish latest changes to https://pypi.org/project/pyresparser

[2019-12-14 03:50] #10 closed

[2019-12-15 03:33] OmkarPathak commented on #12
@raghuveer new 1.0.6 is released. Check this out [https://www.omkarpathak.in/pyresparser/cli/#specifying_export_format](https://www.omkarpathak.in/pyresparser/cli/#specifying_export_format) this sovles this issue.

[2019-12-15 03:33] #12 closed

[2019-12-15 03:34] OmkarPathak commented on #11
@aafaq-hassan-confiz new version 1.0.6 is released. Please let me know if you get desired results

[2019-12-30 05:54] aafaq-hassan-confiz commented on #11
Thanks @OmkarPathak.  I have noticed in new release that phone parsing has been improved but now phone number is not being completely parsed, last 2 or more digits are being discarded from parsed phone number.

[2019-12-30 19:16] OmkarPathak commented on #11
@aafaq-hassan-confiz I have now added custom regex parsing option. You can add the regex for phone numbers of you country and parser would parse them accordingly

[2019-12-31 05:39] aafaq-hassan-confiz commented on #11
@OmkarPathak I have to parse resumes across different countries, so I can't use regex for a single country. So if you could find the current issue and improve your regex then that would be a great help, thanks in advance 😄

[2020-01-01 14:23] OmkarPathak commented on #11
@aafaq-hassan-confiz you can try a generic regex. The reason behind I incorporated custom regex was because I couldn't find a generic regex that would parse all the mobile numbers. You can find some generic ones on Stack Overflow. All the best. Till the being can we close this issue?

[2020-01-01 15:23] aafaq-hassan-confiz commented on #11
@OmkarPathak this ticket is specifically for improving name parsing and adding address parsing. I think this ticket should remain open till at least address parsing is added.

[2020-01-07 20:32] nickmedwards opened #14 "better experience parsing"
When I sent the attached file through your parser, the returned experience data is
[code]
The parser seems to get 5 different kinds of data, the company, the duration, the job title, the job location, and a job description. Could you make it so that these different kinds of experience data are better organized? On a related note, for the job description data, it only gets it one line at a time. Co

[2020-01-08 06:23] aafaq-hassan-confiz commented on #11
@OmkarPathak when will address parsing be added? Please add address parsing as soon as possible, I need it, thanks.

[2020-01-09 03:41] OmkarPathak commented on #14
@nickmedwards I totally agree with your point. The thing is I'm really struggling while segregating the different entities in experience "text". I am still not able to find a proper solution on this. Will update soon on this. Meanwhile, if you can get any solution you can open a PR too. Thanks

[2020-01-23 11:42] jthomas-dot opened #15 "Multiple Documents Parser"
Can you provide an example with output of multiple document parsing?

I can parse one pdf with no problem but when I point to a directory and try to parse multiple pdfs I can an error. It may be user error. I would appreciate any assistance. Thanks.

Below is the error I'm receiving:

Traceback (most recent call last):
  File "<pyshell#86>", line 1, in <module>
    ResumeParser('/Users/jthomas/Doc

[2020-01-23 11:52] jthomas-dot commented on #15
I get the same error when I try to do it in terminal:

jthomas@cpl10cisjodom2 ~ % pyresparser -d /Users/jthomas/Documents/resumes/

                 ____  __  __________  _________  ____  _____________  _____
                / __ \/ / / / ___/ _ \/ ___/ __ \/ __ `/ ___/ ___/ _ \/ ___/
               / /_/ / /_/ / /  /  __(__  ) /_/ / /_/ / /  (__  )  __/ /
              / .___/\__, /_/   \___/____

[2020-01-23 12:45] jthomas-dot commented on #15
I can do it with the CLI I am just getting an error with python

[2020-01-24 11:16] jthomas-dot opened #16 "Exporting Output"
How can you export the output using the CLI and python. I tried using the '-e' export format with no luck. Could you provide an example?

[2020-01-24 13:53] #16 closed

[2020-01-25 17:47] karrtikiyer opened #17 "API Support for raw text input (in memory) instead of PDF/Word Doc file path"
Can you please support providing an API to parse the resume that takes raw text (string or stream) as input instead of a file like doc or PDF on hard disk?

[2020-01-26 02:48] OmkarPathak commented on #17
@karrtikiyer  I have been thinking about the same. I will surely add support for this in next release

[2020-01-28 08:24] karrtikiyer commented on #17
@OmkarPathak : Thanks for quick response, are you open for pull requests?

[2020-01-28 12:39] OmkarPathak commented on #17
@karrtikiyer yes definitely. Would love more contributors

[2020-01-28 12:53] OmkarPathak commented on #15
@jthomas-dot while doing this in Python, you can use the `os.listdir()` method.

[2020-02-12 10:50] Vintic opened #18 "Format data for learning"
Hi,
I think it's good to have a tool that will be able to read input data:
1) text,pdf,doc,docx
2)name,
3)age,
4)skills,
5) ... (Designation, worked at)
Find all this in text, to extract "start", "end" of every feature and append them to traindata json.

[2020-02-12 14:33] OmkarPathak commented on #18
@Vintic totally agree with you. If you can please open a Pull Request for the same as currently I'm not having a full bandwidth

[2020-02-20 14:15] Vintic opened #19 "Add filds to extract."
Would be great to extract fields like:
1) intendent position,
2) age ( birthday ),
3) known foreign languages,

[2020-02-20 14:58] Vintic commented on #19
May be that will help.
Found in this project can be extracted languages.
https://github.com/bjherger/ResumeParser/blob/master/data/output/resume_summary.csv

[2020-02-20 15:04] OmkarNimgire commented on #19
Thank you for the reply
I have one more question to ask I am trying to extract the summary block.
And for reference I was looking ata extract_experience function but I could
not find the call to that function. Could you please help me as to how I
can extract summary of resume and what the starting and end point will be.
THANK YOU!!

On Thu, Feb 20, 2020, 20:28 Vintic <notifications@github.com> wro

[2020-03-03 10:11] mithileshk87 opened #20 "os.path.splitext(self.__resume)[1].split"
Hi,
I am getting following errors. Please check if I am missing something.

**Error:**
[code]

Thanks.

[2020-03-03 10:12] OmkarPathak commented on #20
@mithileshk87 can you please provide more information. Like what are you trying to run?

[2020-03-03 15:13] mithileshk87 commented on #20
Hi @OmkarPathak ,
I am running this package for information retrieval as mentioned here on 1000 test resumes which have combination of doc, pdf and docx files.

I ran following code for that:

[code]

[2020-03-04 03:20] OmkarPathak commented on #20
@mithileshk87  Your code will only work for a single file and not for a directory. You have to change it to something like:

[code]

[2020-03-14 10:48] mukulanand8 commented on #11
Hey @OmkarPathak First of all, thanks for the script! Super helpful! Regarding name parsing, is it possible to exclude results such as "Curriculum Vitae" and "Resume" and use the next possible name?

[2020-03-15 06:18] OmkarPathak commented on #11
@mukulanand8 yes we can. We simply have to filter out those. You can do it by changing [this](https://github.com/OmkarPathak/pyresparser/blob/master/pyresparser/utils.py#L337)

[2020-03-17 10:10] sayalraza opened #21 "Custom NER Trained set"
Hi,
I need to know which dataset is used to train the **custom nlp** ?
I understand that it is trained using datatrunks annotation tool but need to know what is the dataset bring used here?
Is it the same dataset of 200 something indeed resumes which is used in the datatrunks website?
Please give me a clarity on that.

[2020-03-18 06:28] OmkarPathak commented on #21
@sayalraza  it is already mentioned in README

[2020-03-18 07:02] sayalraza commented on #21
Ok. Thank you. And sorry for wasting your time asking something already documented.

[2020-03-18 07:02] #21 closed

[2020-03-25 14:11] bhawnaraj opened #22 "running issue"
how to run this project .please email at simran.02-cse-16@mietjammu.in

[2020-03-26 15:03] OmkarPathak commented on #22
@bhawnaraj  please read README file. All instructions are already mentioned there.

[2020-03-26 15:03] #22 closed

[2020-03-26 18:16] arvindrkrishnen opened #23 "Extraction of Names is not always correct"
I have ran this module through bunch of 1000+ resumes and the name extraction itself is not always correct. Hardly 200 resumes extraction was successful. Have you validated this code against variety of resume samples?

[2020-03-27 02:40] OmkarPathak commented on #23
@arvindrkrishnen yes I am aware of it. The thing is, resumes do not have a specific format and it is really hard to train a model for such a variety of resumes. But for many of the "standard" resumes, I think name extraction is fairly good. Please suggest any better methods for the same if you have 😄

[2020-03-27 07:51] hmspnb opened #24 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xda in position 0: invalid continuation byte"
when i run below code i got below error .
please help me

from pyresparser import ResumeParser
data = ResumeParser('abc.pdf').get_extracted_data()

File "C:\Users\user\.conda\envs\env_bank\lib\site-packages\spacy\language.py", line 934, in <lambda>
    p, exclude=["vocab"]
  File "tokenizer.pyx", line 528, in spacy.tokenizer.Tokenizer.from_disk
  File "tokenizer.pyx", line 569, in spacy.tokenizer.

[2020-03-27 09:24] OmkarPathak commented on #24
@hmspnb this seems to a spacy issue. Can you please open this issue on their forum. As far as I can understand, the parser got few characters whose encoding is not utf-8. Maybe there is an image or an infographic in the resume which is causing this error.

[2020-03-27 09:24] #24 closed

[2020-03-27 14:55] arvindrkrishnen commented on #23
Can you create a custom NER model using the data to recognize Indian names. Download datasets from here - http://au-kbc.org/nlp/NER-FIRE2013/

Additional datasets available at https://github.com/piyusharma95/NER-for-Hindi

[2020-03-27 15:14] bhawnaraj commented on #22
Thankyou for replying to our query. Yes I did go through Readme . But the
project is not working. I need your assistance Sir.
Thankyou.

On Thursday, March 26, 2020, Omkar Pathak <notifications@github.com> wrote:

--

*---------- ----------
 ----------------------- ----------  
--------------*

"The information
contained in this e-mail message and/or
attachments to it may
contain confidential or p

[2020-03-27 16:00] OmkarPathak commented on #22
@bhawnaraj, in that case, please post that error

[2020-03-27 16:00] OmkarPathak commented on #23
@arvindrkrishnen thanks for the links. Sure I will try to train NER on the above-mentioned dataset. Will let you know once done

[2020-03-30 02:09] arvindrkrishnen commented on #23
what worked well for me is to use Apache Tika for extracting cleaner text from PDF and word document. Just add this component in your code.

`import tika
from tika import parser
#download and install TIKA server from https://cwiki.apache.org/confluence/display/TIKA/TikaServer#TikaServer-RunningtheTikaServerasaJarfile
#run TIKA server before you start the below command line
file_data = parser.from_

[2020-03-30 09:40] Vintic opened #26 "Support for different languages / NER"
Hi,
Please, add support for different languages.
May be, depending on document language (that we should detect at first) we should use different NER

Found great project that can be useful: russian language support - https://github.com/natasha

[2020-03-30 16:01] MoizAhmedd opened #27 "Text Extraction error"
Hello, recently started getting a text extraction is not allowed error

[2020-03-30 16:04] #27 closed

[2020-04-02 07:48] kartik7511 opened #28 "Codec error while running parser"
TypeError: __init__() got an unexpected keyword argument 'codec' while running parser

[2020-04-03 06:14] OmkarPathak commented on #28
@kartik7511 this doesn't explain what you are trying to achieve, neither does it explain at point the error was shown. Please elaborate as mush as you can.

[2020-04-09 12:55] td145 opened #29 "No module name pyreparser"
I am getting the following error while running he file:
(base) C:\Users\tarun\Desktop\ResumeParser-master\resume_parser>python manage.py runserver
Watching for file changes with StatReloader
Performing system checks...

Exception in thread django-main-thread:
Traceback (most recent call last):
  File "C:\Users\tarun\Anaconda3\lib\threading.py", line 917, in _bootstrap_inner
    self.run()
  File "

[2020-04-10 12:24] OmkarPathak commented on #29
Use `pip` to install `pyresparser`:
[code]

[2020-04-10 14:05] td145 commented on #29
I have installed the package but still it gives the following error.

[2020-04-12 09:43] OmkarPathak commented on #28
Closing because of inactivity

[2020-04-12 09:43] #28 closed

[2020-04-28 15:27] gustawdaniel commented on #26
Duplication of #8

[2020-05-25 13:40] jamunakarthik opened #30 "Some Skills are Missing"
Some of the items are missing while using pyresparser.
Eg: MongoDB, GCP

[2020-05-27 02:25] OmkarPathak commented on #30
@jamunakarthik you can pass your custom skills file to check against. Find more about this here: [https://omkarpathak.in/pyresparser/cli/#specifying_skills_explicitly](https://omkarpathak.in/pyresparser/cli/#specifying_skills_explicitly)

[2020-05-27 02:25] #30 closed

[2020-06-02 01:59] sirrajesh commented on #13
hi i am running a recruitment consulting company, I am interested in testing this product and promoting online.

[2020-06-02 15:28] OmkarPathak commented on #13
@sirrajesh please contact on email

[2020-06-12 14:18] BenSturgeon opened #31 "Significant struggles with name identification"
Thank you very much for the work you've done on this.

While the results of this are currently fairly good I've noticed names are a big struggle. I even ran your resume as a sample through the system and it returned "www.omkarpathak.in" for that field.

Do you think adding negative patterns for it to check against is the smartest short term solution for this problem? Otherwise do you think more tr

[2020-06-13 15:24] puttapraneeth opened #32 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xda in position 0: invalid continuation byte"
This is absolutely great.

Using pyresparser package I am able to extract the fields from a resume. To check the implementation downloaded code and did the setup as mentioned. When executed with the same resume it ended with error, details are below

Traceback (most recent call last):
  File "resume_parser.py", line 133, in <module>
    data = ResumeParser('OmkarResume.pdf').get_extracted_data()

[2020-06-14 14:01] OmkarPathak commented on #31
@BenSturgeon yes. We need a large dataset of resumes to train model to produce more robust results. If you can share the CVs it would be really helpful 😄

[2020-06-14 14:03] OmkarPathak commented on #32
That's weird. Are you sure you used `python resume_parser.py` command only? Were there any other parameters passed while executing the mentioned command?

[2020-06-14 14:37] puttapraneeth commented on #32
Exactly same. Did not add any parameters

Nothing is getting executed after this line
custom_nlp = spacy.load(os.path.dirname(os.path.abspath(file)))

Tried with both pdf and docx file types which are working with pyresparser, but not here

Using windows 10.
They have explained this issue [here](https://github.com/explosion/spaCy/issues/5324)

[2020-06-15 05:51] puttapraneeth commented on #32
So should I train it again on windows 10 and try as explained [here](https://github.com/explosion/spaCy/issues/5324)

[2020-06-15 07:57] OmkarPathak commented on #32
@puttapraneeth I have already tested the same on Windows. It has no such problems. No need to re-train it on windows.

[2020-06-15 07:59] OmkarPathak commented on #32
Can you please paste here the code you are using in `__main__` in `resume_parser.py` file

[2020-06-15 09:21] puttapraneeth commented on #32
Definitely.

if __name__ == '__main__':

    pool = mp.Pool(mp.cpu_count())

    resumes = []
    data = []
    for root, directories, filenames in os.walk('resumes/'):
        for filename in filenames:
            file = os.path.join(root, filename)
            resumes.append(file)

    results = [
        pool.apply_async(
            resume_result_wrapper,
            args=(x,)
        ) for x

[2020-06-15 09:23] puttapraneeth commented on #32
error

multiprocessing.pool.RemoteTraceback:
"""
Traceback (most recent call last):
  File "C:\Users\Praneeth\Anaconda3\envs\pyparser\lib\multiprocessing\pool.py", line 121, in worker
    result = (True, func(*args, **kwds))
  File "C:\Users\Praneeth\Anaconda3\envs\pyparser\pyresparser\pyresparser\resume_parser.py", line 131, in resume_result_wrapper
    parser = ResumeParser(resume)
  File "C:\Us

[2020-06-15 09:30] puttapraneeth commented on #32
Tried this as well which didn't work

if __name__ == '__main__':

    data = ResumeParser('OmkarResume.pdf').get_extracted_data()
    print(data)

command - python resume_parser.py
Error:
Traceback (most recent call last):
  File "resume_parser.py", line 138, in <module>
    data = ResumeParser('OmkarResume.pdf').get_extracted_data()
  File "resume_parser.py", line 20, in __init__
    custom_nlp =

[2020-06-15 11:31] OmkarPathak commented on #32
I see. in this case we need to try re-training

[2020-06-16 10:30] BenSturgeon commented on #31
@OmkarPathak  Awesome, I'll send you an email with the google drive link containing a large amount of CVs.

I'd be happy to contribute by helping with labeling as well if you'd be interested in sharing the process with me.

[2020-06-16 13:38] OmkarPathak commented on #31
@BenSturgeon would be happy to share.

[2020-06-16 17:52] puttapraneeth commented on #32
Am getting the below issue when I started with training

ValueError: [E103] Trying to set conflicting doc.ents: '(1155, 1199, 'Email Address')' and '(1143, 1240, 'Links')'. A token can only be part of one entity, so make sure the entities you're setting don't overlap.

How to resolve this overlap issue?

[2020-06-16 18:23] puttapraneeth commented on #32
First time it failed at

assert nlp2.get_pipe("ner").move_names == move_names

'O' is present initially in move names of new model but not in original moves names. So the mismatch and failed.

When ran again getting the overlap issue. Searched about overlap issue but I didn't understand. This might be a silly issue but I am a newbie, could you help me resolving this issue.

Searched about overlap

[2020-06-17 03:37] OmkarPathak commented on #32
@puttapraneeth not sure about this error. Can you try raising this issue on Spacy's issue tracker please?

[2020-06-18 06:40] annapurnarelan20 commented on #5
Hey,

I just signed the petition "Sushant Singh Rajput: Boycott Karan Johar, YRF
films, Salman Khan" and wanted to see if you could help by adding your name.

Our goal is to reach 3,000,000 signatures and we need more support. You can
read more and sign the petition here:

http://chng.it/42Kn9G6mLt

Thanks!
annapurna

[2020-06-18 21:11] jeffgipson commented on #29
I am also having this issue on Mac

[2020-07-03 08:10] Arthur-BW opened #34 "UserWarning: [W031] Model 'en_training' (0.0.0) requires spaCy v2.1 and is incompatible with the current spaCy version (2.3.0)"
Hi Omar,

Question, maybe you can help me out. So I've installed all the packages needed for pyreparser. Eventually I ended up with the newer version of Spacy(2.3.0) and en-core-web-sm(2.3.0), because the older versions gave me some errors while installing(I also tried to install the Requirements.txt in a different virtual environment, but that didn't work either).

As soon as I try the python com

[2020-07-03 09:32] OmkarPathak commented on #34
@Arthur-BW this looks like a core SpaCy issue. They might have changed their compatible models in newer versions. You could open an issue on SpaCy's repo for getting better responses on this. Thanks.

[2020-07-03 09:32] #34 closed

[2020-07-03 09:54] Arthur-BW commented on #34
Cheers, will do.

[2020-07-22 16:24] RahulBansal1998 opened #35 "Should be cust_ent['College_name']"
https://github.com/OmkarPathak/pyresparser/blob/17551980aadf2d51d225c6441190418d0e156e98/pyresparser/resume_parser.py#L87

[2020-07-22 16:24] RahulBansal1998 commented on #35
self.__details['college_name'] = cust_ent['College Name']

[2020-07-22 16:24] #35 closed

[2020-07-27 13:08] jamunakarthik opened #36 "Reading files from external resources"
Basically, the resume parser will read file from local. Is there any way to read files from other than local path.
Eg: S3

[2020-07-28 03:10] OmkarPathak commented on #36
@jamunakarthik yes it is possible. Please refer this part of documentation: [https://omkarpathak.in/pyresparser/cli/#parsing_hosted_resumes](https://omkarpathak.in/pyresparser/cli/#parsing_hosted_resumes)

[2020-07-28 05:07] jamunakarthik commented on #36
Thank you for the response.

Please help me with the following issues

How to use that CLI in python programming
   eg:
    res = ResumeParser(file_path).get_extracted_data()

[2020-07-28 05:22] OmkarPathak commented on #36
@jamunakarthik please refer this code snippet: [https://github.com/OmkarPathak/pyresparser/blob/master/test_name.py#L10](https://github.com/OmkarPathak/pyresparser/blob/master/test_name.py#L10)

[2020-07-29 06:59] jamunakarthik commented on #36
Thanks for your response.

But, while trying to access file from S3 Bucket it is showing error even though we provided the correct URL.

eg:
remote_file="https://s3/*/ResumeEngine/Resumes/a.pdf"

Extracting data from: https://s3/*/ResumeEngine/Resumes/a.pdf
File not found. Please Provide correct URL for resume file.

[2020-08-03 07:08] OmkarPathak commented on #36
@jamunakarthik not sure if s2 requires any other lib for accessing static files. Please check on your side for this as this is beyond the scope this repository. Feel free to reopen this issue, if you need anything else on this. Thank You 👍

[2020-08-03 07:08] #36 closed

[2020-08-07 18:30] rkapri90 opened #37 "Build dependency error"
Installing build dependencies ... error
  ERROR: Command errored out with exit status 1:
   command: 'c:\python 38\python.exe' 'c:\python 38\lib\site-packages\pip' install --ignore-installed --no-user --prefix 'C:\Users\XXX\AppData\Local\Temp\pip-build-env-tbkbkos8\overlay' --no-warn-script-location --no-binary :none: --only-binary :none: -i https://pypi.org/simple -- setuptools wheel 'cython>=0.2

[2020-08-09 16:05] OmkarPathak commented on #37
Please elaborate "and so on". It is very hard to interpret above error.

[2020-08-10 12:39] rkapri90 commented on #37
Actually spacy is causing problem,I'm not able to install it

[2020-08-10 16:31] OmkarPathak commented on #37
You then have to open an issue on their repository. Thank you 😄

[2020-08-10 16:31] #37 closed

[2020-08-11 10:47] Manikandan0001 opened #38 "train model shows entity overlap"
@OmkarPathak  Can you please help on train a model. Help me to train without overlapping. Is there function/methodology to avoid overlapping.

**ValueError: [E103] Trying to set conflicting doc.ents: '(4774, 4778, 'Location')' and '(4744, 4789, 'College Name')'. A token can only be part of one entity, so make sure the entities you're setting don't overlap.**

[2020-08-15 22:58] Kryotasin opened #39 "__init__() got an unexpected keyword argument 'codec'"
I recently installed pyreparser and ran the code like so:

[code]

I keep getting the following error. I think it's a pdfminer error but not sure how to fix it inside pyreparser.
![image](https://user-images.githubusercontent.com/8954568/90322936-7776cf80-df0f-11ea-97d5-84d0e1a42d2a.png)

[2020-08-16 14:45] BenSturgeon commented on #38
I encountered a similar issue and edited the custom_train file in such a way as to fix it. Most of the changes are in the method called "determine". As far as I can tell the problem is converting from dataturks to spacy format, but it should eliminate any overlaps generally. Let me know if it helps.

[custom_train_fixed.zip](https://github.com/OmkarPathak/pyresparser/files/5080837/custom_train_fix

[2020-08-17 04:38] Manikandan0001 commented on #38
Thanks for your response @BenSturgeon , Let you know if it works.

[2020-08-17 06:32] Manikandan0001 commented on #38
@BenSturgeon  training was completed without any errors using your code. Thanks. But the parsing result after training is not that much effective. right?

[2020-09-03 04:31] OmkarPathak commented on #39
Hey @Kryotasin  did you try this: https://github.com/pdfminer/pdfminer.six/issues/232

[2020-09-08 18:52] multinucliated opened #40 "Link not working for labeled dataset"
[https://dataturks.com/blog/named-entity-recognition-in-resumes.php](url)

Link not working , Can you please provide any other link ?

[2020-09-11 09:50] OmkarPathak commented on #40
@multinucliated their website seems to be down. No other alternate link available.

[2020-09-11 09:50] #40 closed

[2020-09-11 09:52] OmkarPathak commented on #23
@arvindrkrishnen thanks for the help. I did not find tika to be very effective in terms of text extraction. It is fairy similar to pdfminer and hence we have decided not to include this in pyresparser as it adds one layer of dependency.

[2020-09-11 09:52] #23 closed

[2020-09-11 09:52] OmkarPathak commented on #20
Closing because of no response

[2020-09-11 09:52] #20 closed

[2020-09-15 01:31] leifulstrup commented on #29
I had the same issue on my Mac. I solved it via:

(1) create a standalone python env. I'm familiar with conda and created:

$conda create -n pyresparser

(2) conda activate pyresparser_env

(3) pip install pyresparser

(4) per the github ReadMe Instructions
# spaCy
python -m spacy download en_core_web_sm

# nltk
python -m nltk.downloader words
python -m nltk.downloader stopwords

(5) python -m spa

[2020-09-18 17:49] Kryotasin commented on #39
Yes. Thanks. Sorry about the duplicate issue.

[2020-09-18 17:49] #39 closed

[2020-09-21 12:59] sabatasneem1896 opened #41 "skills are not extracting properly"
Hi,
I am trying to extract skills and I have found an issue. The technical skills are merging with non technical skills. Could anyone guide me??

[2020-09-24 09:52] OmkarPathak commented on #41
This is because, pyresparser comes with a skills file with all skills altogether. If you want to parse them separately, you can pass in your own skills file as specified here: https://omkarpathak.in/pyresparser/#explicitly_specifying_skills_file

[2020-09-25 11:08] shrashetty commented on #41
Hi Omkar,
Your code is very helpful! Well I have a doubt, I hope you could spare your time to assist me.

How to read the entire folder which includes all the resumes and it has to extract the technical and non-technical skills.

Thanks in advance!

[2020-09-27 14:21] OmkarPathak commented on #41
Hi @shrashetty, you can try this: https://omkarpathak.in/pyresparser/cli/#parsing_mutliple_resumes

[2020-10-09 08:01] aditya-malte commented on #31
Hi,
So do we now have a large dataset? Would be great if it was open-source

[2020-10-10 14:50] femyanish commented on #29
I am getting the below error while installing pyresparser for python3.8.2. I tried using both pip and pip3.I also have visual studio installed.kindly help.Thanks.
[error.txt](https://github.com/OmkarPathak/pyresparser/files/5359208/error.txt)
[error.txt](https://github.com/OmkarPathak/pyresparser/files/5359209/error.txt)

Running setup.py install for preshed: finished with status 'done'
      Runn

[2020-10-23 23:42] IreneAjay opened #42 "Error while installing pip3 install pyresparser"
Hi Omkar,

I am trying to install the pyresparser and try your resume parser. This is the error I have been getting.

ERROR: Command errored out with exit status 1:
     command: 'c:\python39\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\Roopa\\AppData\\Local\\Temp\\pip-install-fx3izk7z\\srsly\\setup.py'"'"'; __file__='"'"'C:\\Users\\Roopa\\AppData\\Local\\Temp\\p

[2020-10-25 18:59] Alro10 commented on #42
Hi!

If you take a look, the current version of lib just works for specific versions of python : https://github.com/OmkarPathak/pyresparser/blob/36f1242fbc0637a6633371ca81cf1aea4fa7497e/setup.py#L20

Try to install in another python 3.6 or 3.7 venv.

[2020-10-26 14:35] qarampage commented on #38
Hi,
I am still getting error after using the custom_train_fixed file.
C:\projects\py_virtual_env\venvr\venv\lib\site-packages\spacy\language.py:482: UserWarning: [W030] Some entities could not be aligned in the text "Ritesh
To be an asset to the company and de..." with entities "[[1427, 1470, 'Email Address'], [996, 1039, 'Skill...". Use `spacy.gold.biluo_tags_from_offsets(nlp.make_doc(text), enti

[2020-10-28 00:19] devgupta2607 opened #43 "The library does not work for resumes with tables"
I tried the library on a simple table type resume - [resume.pdf](https://github.com/OmkarPathak/pyresparser/files/5448767/required2.pdf)
but got most of the values as null and also got the name wrong
![Opera Snapshot_2020-10-28_054628_colab research google com](https://user-images.githubusercontent.com/42816087/97375549-21e07b00-18e1-11eb-8872-51ec429f0297.png)

[2020-10-28 04:46] OmkarPathak commented on #43
@devgupta2607 yes library does not work with tables. Possible duplicate of #5

[2020-10-28 04:46] #43 closed

[2020-10-29 10:41] keshav-rathor commented on #13
I have tested your parser and I feel there is a lot to do. The parser is not able to predict companies, duration of companies, and designation.

[2020-10-29 13:18] czabriskie commented on #13
Definitely. Why don’t you make a pull request and add some of this
functionality?

On Thu, Oct 29, 2020 at 4:41 AM keshav-rathor <notifications@github.com>
wrote:

[2020-12-24 12:33] samacker77 opened #45 "using pyresparser by providing string to ResumeParser()"
I am using this library to parse job descriptions as they come in email bodies in the form of text. But the ResumeParser() api only allows pdf or doc(x). Can someone suggest how to parse a python string using this?

[2020-12-26 16:50] OmkarPathak commented on #45
@samacker77 this request has been in my bucket for a long. I Will try to make it a priority. Thanks

[2020-12-26 16:50] #45 closed

[2021-02-04 17:19] MinaTahaei opened #46 "OSError: [E053] Could not read config.cfg from .....\venv\lib\site-packages\pyresparser\config.cfg"
I have installed all the packages, but when I run:

`from pyresparser import ResumeParser
data = ResumeParser('C:/Users/Asus/Desktop/ResumeParserExample/test.pdf').get_extracted_data()`

I get this error:

`C:\Users\Asus\Desktop\ResumeParserExample\venv\lib\site-packages\spacy\util.py:715: UserWarning: [W094] Model 'en_training' (0.0.0) specifies an under-constrained spaCy version requirement: >=2

[2021-02-06 10:28] tanvidadu commented on #46
Facing similar issue

[2021-02-06 10:53] Sandeep-Panchal commented on #46
I am too facing the similar issue.

[2021-02-06 23:07] Bhavin1996 commented on #46
same issue

[2021-02-08 17:38] cristinabac commented on #46
Same issue

[2021-02-09 18:17] Quppi commented on #46
Hey guys, i just figured it out, after being stuck with the same error for a while. It's a version issue:
`pip install nltk
pip install spacy==2.3.5
pip install https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
pip install pyresparser`
does the trick. Also try different spacy versions and models, because they produce different results. Hav

[2021-02-09 20:13] cristinabac commented on #46
This worked for me, thank you!

[2021-02-10 14:48] itsn78 opened #47 "How to use multiple resume parser"
where to use this ?
pyresparser -d /path/to/resume/directory/

[2021-02-10 15:31] #47 closed

[2021-02-10 15:31] itsn78 commented on #47
CLI

[2021-02-11 15:17] MinaTahaei commented on #46
Unfortunately I still have a version issue: C:\Users\Asus\AppData\Local\Programs\Python\Python39\lib\site-packages\spacy\util.py:275: UserWarning: [W031] Model 'en_training' (0.0.0) requires spaCy v2.1 and is incompatible with the current spaCy version (2.3.5). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model wit

[2021-02-11 15:18] MinaTahaei commented on #46
Unfortunately I still have a version issue: C:\Users\Asus\AppData\Local\Programs\Python\Python39\lib\site-packages\spacy\util.py:275: UserWarning: [W031] Model 'en_training' (0.0.0) requires spaCy v2.1 and is incompatible with the current spaCy version (2.3.5). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model wit

[2021-02-11 15:24] Quppi commented on #46
Hmh, I get the same warning message, though after that I get the output of the parsed resume.

[2021-02-11 15:26] MinaTahaei commented on #46
Where do you get the output of the parsed resume? Does it get rewritten in a new file, or it appears in the terminal?(because I have nothing in my terminal)

[2021-02-11 15:37] Quppi commented on #46
It's right after the warning message in the terminal. But you might want to add a
`print(data)`
at the end of the script given in the Readme :)

[2021-02-11 15:43] MinaTahaei commented on #46
Damn, I had forgotten that:))   Thanks, its fixed now!:))

[2021-02-11 15:43] MinaTahaei commented on #46
Damn, I had forgotten that:)) Thanks, its fixed now!:))

[2021-02-11 15:45] #46 closed

[2021-02-26 08:59] Sandy1811 opened #48 "OSError: [E053] while running both Django & pyresparser package"
Hi OP,

I am facing issues while running this package. Screenshot are attached for the reference.
![image](https://user-images.githubusercontent.com/30496770/109278400-80414a00-783e-11eb-853e-eda32b023fa4.png)
![image](https://user-images.githubusercontent.com/30496770/109278676-cbf3f380-783e-11eb-967a-6e151e374366.png)

[2021-02-26 10:21] krds0 commented on #48
I also encountered this issue.
It seems like it happens when you have spacy version 3 or higher.
Try to install version 2 of spacy, that should fix it.

[2021-02-26 11:23] Sandy1811 commented on #48
I got the solution from the stack overflow. Requesting OP to add these dependencies in the requirement.txt file so that other doesn't face the same issue.

https://stackoverflow.com/questions/66383057/oserror-e053-while-running-pyresparser-package/66383318#66383318

pip install spacy==2.3.5

pip install https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm

[2021-02-26 11:43] #48 closed

[2021-03-19 13:28] Harshtone opened #49 "OSError: [E053] Could not read config.cfg"
i am getting above error after following the steps correctly . please help me with this

[2021-04-01 17:35] Sultan91 commented on #49
The same for me

[2021-04-20 03:14] ranyaphat29 opened #50 "[E053] Could not read config.cfg from /root/anaconda3/lib/python3.8/site-packages/resume_parser/degree/model/config.cfg"
[E053] Could not read config.cfg from /root/anaconda3/lib/python3.8/site-packages/resume_parser/degree/model/config.cfg

[2021-04-28 18:04] yousafzahid95 opened #51 "Errors running the program."
I'm a newbie at this and I'm doing a university project that includes extraction of information from a resume but when I try to run your parser I experience a lot of errors such as:

C:\Users\yriva\AppData\Local\Programs\Python\Python39\lib\site-packages\spacy\util.py:717: UserWarning: [W094] Model 'en_training' (0.0.0) specifies an under-constrained spaCy version requirement: >=2.1.4. This can le

[2021-05-26 17:27] samrudh opened #54 "spacy.gold Not found"
On my windows AMD64 machine, I get below error:

from spacy.gold import GoldParse
ModuleNotFoundError: No module named 'spacy.gold'

[2021-06-21 06:25] mansi-dadheech opened #57 "OSError: [E053] Could not read meta.json from E:\majorProject\meta.json"
Hii!!
I am trying to extract information through resume,but getting this error.Could anyone help me with this??
[code]
Error:
[code]
Thank You

[2021-06-26 21:19] TheNLPGuy commented on #45
@OmkarPathak I wanted to check-in, was this fixed? We were hoping to try passing strings as inputs instead of pdf/docs

[2021-06-26 21:20] TheNLPGuy opened #58 "@samacker77 this request has been in my bucket for a long. I Will try to make it a priority. Thanks"
@samacker77 this request has been in my bucket for a long. I Will try to make it a priority. Thanks

_Originally posted by @OmkarPathak in https://github.com/OmkarPathak/pyresparser/issues/45#issuecomment-751373819_

[2021-06-26 21:20] TheNLPGuy commented on #58
@OmkarPathak I wanted to check-in, was this fixed? We were hoping to try passing strings as inputs instead of pdf/docs

[2021-07-08 14:16] DhavalThkkar commented on #45
Waiting for an update on the same

[2021-07-11 18:04] prmr003 commented on #15
@OmkarPathak How we can use `os.listdir()` method? Do we have to modify ResumeParser.py file or use it in our file only?

[2021-07-11 18:05] prmr003 commented on #15
Same here.

[2021-08-03 09:24] jaychovatiya4995 opened #60 "Education and Collage Nmae does not work properly."
I can learn this project. But I can fetch Education and collage name properly. How I can solve it. Please give me some advise to solve it.

[2021-12-04 04:04] rvprasadreddy opened #62 "Total experience is coming as Zero"
Hi Omkar,

I have installed the resume parser on the Ubuntu  OS "Ubuntu 18.04.5 LTS (GNU/Linux 5.4.0-1059-aws x86_64)"  with python verison 3.7.12.

Resume parser up and runing fine but i observed that total experience field is always coming as "0".
I have tried with more than 20 resumes for all them it is coming as "0" experinece.

Is there any specific pakage need to be installed to sort of this

[2022-01-16 16:31] lironmo commented on #50
OSError: [E053] Could not read config.cfg from

[2022-03-07 08:42] DevendraKanthale commented on #13
Can we speak Omkar? Let me knwo your poh no

Devendra Kanthale- Vice President,
Aditech IT & Consultancy Services Pvt Ltd,
2nd Floor, A-4, Nav Varshali, Above Cosmos Bank, ITI Road, Aundh, Pune-
411007, India.
Mobile:- +91 9422502541, 8766755848
Email: [devendra@aditech.net](mailto:devendra@aditech.net)

[2022-03-17 09:31] RAravindDS commented on #46
When I try to run pip install spacy==2.3.5 I got some other error.

WARNING: Discarding https://files.pythonhosted.org/packages/45/71/507b8dbbe3ee6f93c0356c3e5e902e0f598c02d919ad3116e16559eb011f/spacy-2.3.5.tar.gz#sha256=315278ab60094643baecd866017c7d4cbd966efd2d517ad0e6c888edf7fa5aef (from https://pypi.org/simple/spacy/) (requires-python:!=3.0.*,!=3.1.*,!=3.2.*,!=3.3.*,!=3.4.*,>=2.7). Command err

[2022-03-30 16:31] johncarlo-vss commented on #46
Bro. What version of Python did you use?

[2022-03-31 21:34] johncarlo-vss commented on #41
Hi, @OmkarPathak how to parse it in Python? the link above only shows multiple parsing of resumes in CLI.

[2022-04-02 04:08] RAravindDS commented on #46
Guys, I have many thing for this. But I can't solve my issues, one way to solve this:

https://www.programcreek.com/python/?code=OmkarPathak%2FResumeParser%2FResumeParser-master%2Fresume_parser%2Fresume_parser%2Fresume_parser.py#

Go here, and copy paste the entire code in your respective folder and try to solve the problem. I have done this for my company and if you do this there are lot of flexi

[2022-05-26 10:33] 0zirix commented on #42
Hello,

I have the same problem as [IreneAjay](https://github.com/IreneAjay), even if i use `pip3 install pyresparser` it suddenly crash with an error message:

python can't find '__main__' module in 'H:\\Code\\pyresparser'

I'm Using python 3.10

Apparently this module is not supported anymore ? 3 years since last update.

I suggest you to put a warning on the home page, because your code doesn't

[2022-05-30 13:36] zeinramadan1 commented on #50
Having the same issue, anyone managed to solve?

[2022-06-07 06:41] kabilrb opened #67 "Resume parser is not working while trying to use in ubuntu server"
We have successfully installed the pyresparser package, but when we tried to import it nltk error is occuring.
Please use the NLTK Downloader to obtain the resource:
[31m>>> import nltk

[0m
For more information see: https://www.nltk.org/data.html
Attempted to load [93mcorpora/stopwords[0m
Searched in:
- '/home/sbx_user1051/nltk_data'
- '/var/lang/nltk_data'
- '/var/lang/share/nltk_data'
- '/v

[2022-06-10 10:37] zeinramadan1 commented on #46
I was still having this issue and could not solve it but finally did. The problem for me was my machine, it's a mac with the new chip. Pretty sure this library will not work on this device. Got it working on WSL in windows though. Hope this helps anybody stuck with this error. I was stuck for a good 2 weeks.

[2022-06-11 18:47] yassine20011 commented on #50
@zeinramadan1 did you find a solution?

[2022-06-11 19:48] zeinramadan1 commented on #50
yes. don't use a mac with an a1 chip, use venv not conda, and follow the solution by [Quppi] (https://github.com/Quppi) on here https://github.com/OmkarPathak/pyresparser/issues/46

[2022-06-16 12:58] yassine20011 commented on #50
Thank you a lot

[2022-07-22 08:01] subashhariharan opened #71 "Extracting mobile number gives only 10 digit. but, the data is 12 digit(with country code) in resume."
Hi,
I have a resume with contact number as +91 xxxxx xxxxx. I got the result as 91xxxxxxxx.
the case is if the resume contain contact number with Country code, The script extracted the 1st 10 digits only. skipped the last digits.
Please check that.
I hope the fix will be in extract_mobile_number() in the utils.py file.

[2022-08-08 16:11] harshgorjiwala opened #72 "en_core_web_sm error"
[E050] Can't find model 'en_core_web_sm'. It doesn't seem to be a Python package or a valid path to a data directory.

please help me to get ride of this error

[2022-08-08 16:18] harshgorjiwala opened #73 "[MainThread ] [WARNI] Tika server returned status: 405"
I tired to do this but it giving me and warning and showing me this error and can not fetch anything

util.py:275: UserWarning: [W031] Model 'en_training' (0.0.0) requires spaCy v2.2 and is incompatible with the current spaCy version (2.3.5). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model with the current spaCy

[2022-08-08 17:07] #72 closed

[2022-08-09 09:36] OmkarPathak commented on #73
@harshgorjiwala your current Spacy version seems to be 2.3.5. Please install a version of en_training that is compatible with spacy 2.3.5 or else you can downgrade your spacy to version 2.2

[2022-08-09 15:18] harshgorjiwala commented on #73
@OmkarPathak Thank you so much. I figured it out. It was not working perfectly because it I installed JAVA for better output but as soon as i uninstalled JAVA it start working perfectly.

[2022-08-10 06:36] #73 closed

[2022-08-17 09:34] ozziest commented on #72
@harshgorjiwala , have you solved the bug?

[2022-09-19 13:53] Arpan-Kreeti commented on #67
This helped me

[code]

[2022-10-01 12:47] neelshrimali opened #74 "Facing version issues - code not working with latest version and old too."
code using -
from pyresparser import ResumeParser
import os
import spacy

data = ResumeParser(r'C:\Users\neel.shrimali\Desktop\data\ABC.pdf').get_extracted_data()

print(data["name"])

error -

 UserWarning: [W094] Model 'en_training' (0.0.0) specifies an under-constrained spaCy version requirement: >=2.1.4. This can lead to compatibility problems with older versions, or as new spaCy versions are